extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This is some of the projects I have completed while in the Treehouse TechDegree program. Click on each project to see images, live links and Github links to see the code.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`static/images/${project.image_urls[0]}`, alt=`${project.project_name} Screenshot`)
              h5=project.project_name

     

        

